.demo-panel {
  background-color: #f8f9fa;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  &:first-child {
    border-left: 1px solid #dee2e6;
    border-top: none;
  }
}

.resizer {
  --rfp-resizer-size: 0px;
  background: transparent;
  position: relative;
  transition: all 0.15s ease-in-out 0.1s;
  overflow: visible;

  &::before {
    content: '';
    position: absolute;
    background: #007acc;
    transition: all 0.15s ease-in-out 0.1s;
    opacity: 0;
    z-index: 1;
  }

  &:hover,
  &:active {
    &::before {
      opacity: 1;
    }
  }

  .rfp-horizontal > & {
    &::before {
      left: -2px;
      top: 0;
      width: 4px;
      height: 100%;
    }
  }

  .rfp-vertical > & {
    &::before {
      left: 0;
      top: -2px;
      width: 100%;
      height: 4px;
    }
  }

  &:focus {
    outline: none;

    &::before {
      opacity: 1;
      background: #005a9e;
    }
  }
}
