.demo-panel {
  border: 1px solid #ddd;
  background-color: #f8f9fa;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.panel-left {
  background-color: #ffebee;
}

.panel-middle-top {
  background-color: #e3f2fd;
}

.panel-bottom-left {
  background-color: #e8f5e8;
}

.panel-bottom-right {
  background-color: #fff3e0;
}

.panel-right {
  background-color: #f3e5f5;
}